version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: tolerex-prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    # We map port 9091 because Host 9090 is taken by the Leader App
    ports:
      - "9091:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana:latest
    container_name: tolerex-grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"
